/* ROOT */
:root {
  --main-color: #ffbc13;
  --main-color-opacity: #ffbc1359;
  --black: rgb(17, 16, 16);
  --black-opacity: rgba(17, 16, 16, 0.575);
  --white: white;
  --small-size: 13px;
  --title-size: clamp(1rem, -0.875rem + 2.4vw, 3.5rem);
  --basic-text-size: clamp(1rem, -0.875rem + 1.5vw, 3.5rem);
  --mini-title-size: clamp(1rem, -0.875rem + 1.8vw, 3.5rem);
  --body-bg-color: #e8e8e8;
}
@import "~react-image-gallery/styles/css/image-gallery.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  background-color: var(--body-bg-color);
  font-family: "Roboto", sans-serif;
}
/* ROOT */
/* NAVBAR **/
.navBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: var(--black-opacity);
  padding: 1em;
}
.navMenu {
  background-color: transparent;
  justify-content: space-evenly;
  align-items: center;
  border: none;
}

.navMenuItem:first-child {
  order: -1 !important;
}
.navMenuItem * {
  color: var(--white) !important;
  font-size: clamp(1rem, -0.875rem + 1.5vw, 3.5rem) !important;
}

.ant-menu-horizontal > .ant-menu-item::after,
.ant-menu-horizontal > .ant-menu-submenu::after {
  display: none !important;
}

.navMenu .ant-menu-item-active:hover {
  color: white !important;
}

.navMenuItem {
  position: relative;
}
.ant-menu-title-content a::before {
  transition: 0.5s !important;
  position: absolute !important;
  top: inherit;
  bottom: 0;
  left: 0px !important;
  content: "" !important;
  width: 0 !important;
  height: 3px !important;
  border-radius: 2px !important;
  background-color: var(--main-color) !important;
}
.ant-menu-title-content a:hover::before {
  width: 100% !important;
  transition: 0.5s;
}

/* NAVBAR */
/* CAROUSEL */
.headerCarousel .slick-dots-bottom {
  bottom: 10vh;
}
.headerCarousel .slick-dots-bottom button {
  background-color: var(--main-color) !important;
  border: 2px solid var(--black) !important;
  height: 25px !important;
}

.headerCarouselInnerWrap {
  position: relative;
}
.headerCarouselInnerWrap h3,
.headerCarouselInnerWrap h4,
.headerCarouselInnerWrap h5 {
  position: absolute;
  padding: 0.5rem 3rem;
  z-index: 2;
  color: var(--black);
  margin: 2em 0;
}

.headerCarouselInnerWrap h3 {
  font-size: clamp(1rem, -0.875rem + 3.5vw, 8vw);
  top: 15vh;
  background-color: var(--main-color);
}
.headerCarouselInnerWrap h4 {
  font-size: clamp(1rem, -0.875rem + 2.8vw, 8vw);
  top: 35vh;
  background-color: var(--main-color);
}
.headerCarouselInnerWrap img {
  object-fit: cover;
}
.headerCarouselInnerWrap h5 {
  font-size: clamp(1rem, -0.875rem + 2vw, 8vw);
  top: 50vh;
  background-color: var(--main-color);
}
/* CAROUSEL */

/* MAIN SERVICES */
.mainServiceTitle span {
  font-size: var(--title-size);
}
.mainServiceTitle {
  margin-top: 3em !important;
}

.mainServiceWrap {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  flex-wrap: wrap;
}
.mainServiceItem {
  display: flex;
  margin: 1em 0;
  flex: 1 1 30%;
}
.mainServiceItemImgWrap {
  height: 70px;
  min-width: 70px;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainServiceItemImgWrap img {
  height: 38px;
}
.mainServiceTextWrap {
  padding: 0 2em;
}
.mainServiceTextWrap h5 {
  font-weight: bold;
  padding-bottom: 0.2em;
  text-align: left;
  font-size: var(--mini-title-size);
  margin: 0;
}

.mainServiceTextWrap p {
  padding: 0.5em 0;
  text-align: left;
  font-size: var(--basic-text-size);
}
/* MAIN SERVICES */
/* WHY US */
.WhyUsWrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.WhyUsTitle {
  margin-top: 3em !important;
}
.WhyUsTitle span {
  font-size: var(--title-size);
}
.WhyUsCollapse {
  width: 49%;
}
.WhyUsWrap .ant-collapse {
  background-color: transparent;
  border: none;

  border-radius: 6px;
}

.WhyUsCollapse .ant-collapse-header {
  background-color: var(--main-color);
  font-size: var(--mini-title-size);
}
.WhyUsCollapse .WhyUsPanel:first-of-type .ant-collapse-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.WhyUsPanel .ant-collapse-content-box p {
  font-size: var(--basic-text-size);
  padding: 3em 2em;
}
.WhyUsGallery {
  width: 49%;
}
.WhyUsGallery img {
  padding: 0.5em;
}
.WhyUsGallery .ant-image-mask {
  background: var(--main-color-opacity);
}
.WhyUsGallery .ant-image-mask .ant-image-mask-info {
  font-size: var(--mini-title-size);
  color: var(--black);
  font-weight: bold;
}

/* WHY US */
/* STAT */
.statTitle::before,
.statTitle::after {
  color: var(--white);
}
.statTitle {
  padding: 3em 0;
  margin-top: 3em !important;
}
.statTitle span {
  font-size: var(--title-size);
  color: var(--white);
}
.statWrap h2 {
  font-size: clamp(1rem, -0.875rem + 3.5vw, 8vw);
  color: white;
  font-weight: bold;
}
.statWrap h5 {
  font-size: clamp(1rem, -0.875rem + 2vw, 8vw);
  color: white;
  font-weight: bold;
}
.statItemWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.statItem {
  padding: 1em;
  margin: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--main-color);
  border-radius: 8px;
  flex: 0 0 30%;
}
.statItem > div {
  margin: 0.8em 0;
}
.statImg {
  height: 70px;
}
.statCounter {
  font-size: clamp(1rem, -0.875rem + 2.5vw, 8vw);
  font-weight: bold;
  color: var(--black);
}
.statLabel {
  font-size: var(--mini-title-size);
  font-weight: bold;
  color: var(--black);
}
/* STAT */

/* PARTNERS */
.partnersTitle {
  margin-top: 3em !important;
}
.partnersTitle span {
  font-size: var(--title-size);
  color: var(--black);
}
.partnersWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.partnersItem {
  flex: 1 1 33%;
  padding: 1em;
  margin: 2em 0;
}
.partners-card {
  background-color: transparent;
  height: 200px;
  perspective: 1000px;
  border-radius: 8px;
}

.partners-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform ease-in-out 0.8s;
  transform-style: preserve-3d;
}

.partners-card:hover .partners-card-inner {
  transform: rotateY(180deg);
}

.partners-card-front,
.partners-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
}

.partners-card-front {
  background-color: var(--main-color);
  color: var(--black);
}
.partners-card-front img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}
.partners-card-back {
  background-color: var(--main-color);
  color: var(--black);
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners-card-back h4 {
  font-size: var(--mini-title-size);
  color: var(--black);
  font-weight: bold;
}
/* PARTNERS */
/* COMMENTS */
.commentsTitle span {
  font-size: var(--title-size);
  color: var(--black);
}
.commentsTitle {
  margin-top: 3em !important;
}

/* COMMENTS */
.commentWrap {
  background-color: var(--main-color);
  border-radius: 8px;
  padding: 1em;
}
.commentWrap .ant-comment-inner {
  display: flex;
  padding: 16px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.commentWrap .ant-comment-inner .ant-avatar,
.commentWrap .ant-comment-inner .ant-avatar-image img {
  width: 100px;
  height: 100px;
}
.commentWrap .ant-comment-content-author {
  justify-content: center;
  padding: 1em;
}
.commentWrap .ant-comment-content-author span p {
  font-size: var(--title-size);
  color: var(--black);
  margin: 0;
}
.commentWrap .ant-comment-inner .ant-comment-content-detail {
  padding: 0.5em 2em 1em 2em;
  font-size: var(--mini-title-size);
}

.commentsCarouselWrap .slick-dots-bottom {
  bottom: 22px;
}
.commentsCarouselWrap .slick-dots li {
  margin: 0 25px !important;
  width: 24px !important;
}
.commentsCarouselWrap .slick-dots li button {
  width: 25px;
  height: 25px;
  background: var(--black) !important;
  border-radius: 50%;
  border: 5px double var(--black);
}
/* COMMENTS */
/* FOOTER */
.footerBackground {
  background-color: var(--black);
  margin-top: 3em;
}
.footer {
  display: flex;
  padding: 2em 0;
  justify-content: space-between;
}
.footerLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%;
  padding: 2em;
}

.footerLeft h5 {
  font-size: var(--title-size);
  color: var(--white);
  text-align: left;
  border-bottom: 4px solid var(--main-color);
  width: fit-content;
}
.footerLeft img {
  height: 100px;
  width: 100px;
}
.footerLeft p {
  font-size: var(--basic-text-size);
  color: var(--white);
  text-align: left;
}

.footerCenter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%;
  padding: 2em;
}

.footerCenter h5 {
  font-size: var(--title-size);
  color: var(--white);
  text-align: left;
  border-bottom: 4px solid var(--main-color);
  width: fit-content;
}

.footerCenter ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 0;
  list-style: none;
}
.footerCenter ul li {
  margin: 0.5em 0;
  flex: 0 0 50%;
  text-align: left;
}
.footerCenter ul li a {
  color: var(--white);
  font-size: var(--basic-text-size);
  text-align: left;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}

.footerCenter ul li span {
  color: var(--main-color);
  font-size: var(--basic-text-size);
}
.footerCenter ul li a::after {
  transition: 0.5s;
  position: absolute;
  top: 20px;
  left: 5px;
  content: "";
  width: 0;
  height: 3px;
  border-radius: 2px;
  background-color: var(--main-color);
}
.footerCenter ul li a:hover::after {
  width: 100%;
  transition: 0.5s;
}
.footerRight {
  width: 33%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footerRight h5 {
  font-size: var(--title-size);
  color: var(--white);
  text-align: left;
  border-bottom: 4px solid var(--main-color);
  width: fit-content;
}
.footerRight p b {
  color: var(--main-color);
  margin-right: 8px;
}
.footerRight p,
.footerRight a {
  font-size: var(--basic-text-size);
  color: var(--white);
  text-align: left;
}
.footerRight p span {
  font-size: var(--basic-text-size);
  color: var(--main-color);
  margin-right: 8px;
}
.footerRight ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.footerRight ul li img {
  height: 32px;
  transition: 0.3s ease-in;
  filter: grayscale(100%);
  transform: scale(1);
}
.footerRight ul li img:hover {
  transition: 0.3s ease-out;

  filter: grayscale(0);
  transform: scale(1.2);
}
.footerBottomDivider {
  border-color: var(--white);
}
/* FOOTER */
/* PORTFOLIO */
.portfolioTitle span {
  font-size: var(--title-size);
  color: var(--black);
}
.portfolioWrap {
  margin-top: 200px;
}
.portfolioWrap .ant-tabs-nav-wrap {
  justify-content: center;
}
.portfolioWrap .ant-tabs-tab-btn,
.portfolioWrap .ant-tabs-tab-active .ant-tabs-tab {
  color: var(--black) !important;
  font-weight: bold;
  text-shadow: none !important;
  outline: none !important;
}

.portfolioWrap .ant-tabs-tab {
  background-color: var(--main-color);
  padding: 1em;
  border-radius: 8px;
  outline: none !important;
}

.ant-tabs-ink-bar {
  background-color: transparent;
}
.ant-tabs-nav::before {
  border: none !important;
}

.projectWrap {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  flex-wrap: wrap;
}
.projectItem {
  flex: 0 0 33%;
  padding: 0.5em;
  margin: 0.5em 0;
}
.projectName {
  font-size: var(--mini-title-size);
  color: var(--black);
  font-weight: bold;
}

div.image-gallery-content:not(.fullscreen)
  .image-gallery-slide
  .image-gallery-image {
  max-height: calc(100vh - 80px);
  height: 270px;
  object-fit: cover;
}

div.fullscreen
  > div.image-gallery-slide-wrapper.bottom
  > div
  div
  div.image-gallery-slide.center
  img {
  object-fit: scale-down;
}
.image-gallery-right-nav .image-gallery-svg,
.image-gallery-left-nav .image-gallery-svg {
  height: 64px;
}
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:active {
  border: 3px solid var(--main-color);
}
.image-gallery-icon,
.image-gallery-icon:hover,
.image-gallery-icon:active,
.image-gallery-icon:focus {
  color: var(--main-color);
}
.image-gallery-thumbnail .image-gallery-thumbnail-image {
  object-fit: cover;
  height: 80px;
}
.image-gallery-content:not(.fullscreen) .image-gallery-thumbnails-container {
  display: none;
}
/* PORTFOLIO */
/* ABOUT US */
.aboutUsTitle span {
  font-size: var(--title-size);
  color: var(--black);
}
.aboutUsWrap {
  margin-top: 200px;
}
.aboutUsText {
  padding: 1em;
  background-color: var(--main-color);
  border-radius: 8px;
}
.aboutUsText h2 {
  text-align: left;
}
/* ABOUT US */
/* CONTACT */
.contactTitle span {
  font-size: var(--title-size);
  color: var(--black);
}
.contactWrap {
  margin-top: 200px;
}

.contactInnerWrap {
  padding: 1em;
  background-color: var(--main-color);
  border-radius: 8px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactInnerWrap ul li {
  margin: 1em;
}

.contactInnerWrap p b {
  color: var(--black);
  margin-right: 8px;
}
.contactInnerWrap p,
.contactInnerWrap a {
  font-size: var(--basic-text-size);
  color: var(--black);
  text-align: left;
}
.contactInnerWrap p span {
  font-size: var(--basic-text-size);
  color: var(--black);
  margin-right: 8px;
}
.contactInnerWrap ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.contactInnerWrap ul li img {
  height: 32px;
  transition: 0.3s ease-in;
  filter: grayscale(100%);
  transform: scale(1);
}
.contactInnerWrap ul li img:hover {
  transition: 0.3s ease-out;

  filter: grayscale(0);
  transform: scale(1.2);
}
.contactMap {
  margin: 1em 0;
  border-radius: 8px;
}

div.contactMap > div:nth-child(2) {
  border-radius: 8px;
}

/* CONTACT */
