/************************************* Root /*************************************/
:root {
  --main-color: #ffbc13;
  --main-color-opacity: #ffbc1359;
  --black: rgb(17, 16, 16);
  --black-opacity: rgba(17, 16, 16, 0.575);
  --white: white;
  --title-size: clamp(1rem, -0.875rem + 2.4vw, 3.5rem);
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  background-color: antiquewhite;
  font-family: "Roboto", sans-serif;
}
/************************************* Root /*************************************/
/************************************* NAVBAR /*************************************/
.navBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: var(--black-opacity);
  padding: 1em;
}
.navMenu {
  background-color: transparent;
  justify-content: space-evenly;
  align-items: center;
}
.navMenuItem:first-child {
  order: -1 !important;
}
.navMenuItem {
  color: var(--white);
  font-size: clamp(1rem, -0.875rem + 1.5vw, 3.5rem);
}
.navMenuItem:hover {
  color: --white !important;
}

.navMenuItem:hover .navMenuItem::after {
  border-bottom: 2px solid --white !important;
}

.navMenu .ant-menu-item-active:hover {
  color: white !important;
  border: none !important;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: white !important;
  border: none !important;
}
/************************************* NAVBAR /*************************************/
/************************************* CAROUSEL /*************************************/
.headerCarousel .slick-dots-bottom {
  bottom: 10vh;
}
.headerCarousel .slick-dots-bottom button {
  background-color: var(--main-color) !important;
  height: 15px;
  border: 1px solid var(--black-opacity);
  border-radius: 8px;
}

.headerCarouselInnerWrap {
  position: relative;
}
.headerCarouselInnerWrap h3,
.headerCarouselInnerWrap h4,
.headerCarouselInnerWrap h5 {
  position: absolute;
  padding: 0.5rem 3rem;
  z-index: 2;
  color: var(--black);
  margin: 2em 0;
}

.headerCarouselInnerWrap h3 {
  font-size: clamp(1rem, -0.875rem + 3.5vw, 8vw);
  top: 15vh;
  background-color: var(--main-color);
}
.headerCarouselInnerWrap h4 {
  font-size: clamp(1rem, -0.875rem + 2.8vw, 8vw);
  top: 35vh;
  background-color: var(--main-color);
}

.headerCarouselInnerWrap h5 {
  font-size: clamp(1rem, -0.875rem + 2vw, 8vw);
  top: 50vh;
  background-color: var(--main-color);
}
/************************************* CAROUSEL /*************************************/

/************************************* MAIN SERVICES /*************************************/
.mainServiceTitle span {
  font-size: var(--title-size);
}

.mainServiceWrap {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  flex-wrap: wrap;
}
.mainServiceItem {
  display: flex;
  margin: 1em 0;
  flex: 1 1 30%;
}
.mainServiceItemImgWrap {
  height: 70px;
  min-width: 70px;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainServiceItemImgWrap img {
  height: 38px;
}
.mainServiceTextWrap {
  padding: 0 2em;
}
.mainServiceTextWrap h5 {
  font-weight: bold;
  padding-bottom: 0.2em;
  text-align: left;
  font-size: 18px;
  margin: 0;
}

.mainServiceTextWrap p {
  padding: 0.5em 0;
  text-align: left;
  font-size: 16px;
}
/************************************* MAIN SERVICES /*************************************/
/************************************* WHY US /*************************************/
.WhyUsTitle span {
  font-size: var(--title-size);
}
/************************************* WHY US /*************************************/
